[DEFAULT]

# the default ending of the directory containing the fastQC report
fastqc_output_suffix = _fastqc

# the default name of the fastQC HTML report:
fastqc_html_report = fastqc_report.html

# output HTML report name
output_html_report = data_delivery.html

# HTML template:
html_template = delivery_template.html

# libraries (css, js, etc) for the output html
libraries = lib
